.shine-text {
  display: inline-block;
  background: linear-gradient(
    to right,
    #9f9f9f 0%,
    #ffffff 20%,
    #868686 40%
  );
  background-size: 200px auto;

  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

  animation: shine 3s linear infinite;

  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

@keyframes shine {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 200px;
  }
}